{% extends 'structure_empty.html' %}

{% block formulario %}

<h4>{{mensaje}}</h4>
<div style="border: 2px solid black; text-align: center; margin-top: 8%;">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="container"></div>    
        <div class="col-lg-12">
            <h4 class="mb-4 mt-3 ">Iniciar Sesion</h4>
            {{miFormulario.as_p}} {% csrf_token %}
            <button type="submit">Iniciar sesion </button>
        </div>
    </form>
    <h4>{{mensaje}}</h4>
</div>


{% endblock formulario %}
